@import url("https://fonts.googleapis.com/css2?family=Kalnia&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Devanagari:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arya:wght@400;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ga+Maamli&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@100..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');



.fontPoppins {
  font-family: "Poppins", sans-serif;
}

.fontNunito {
  font-family: "Nunito Sans", sans-serif;
}


.fontBebas {
  font-family: "Bebas Neue", sans-serif;
}

.fontNoto {
  font-family: "Noto Serif Devanagari", sans-serif;
}

.fontKalnia {
  font-family: "Kalnia", serif;
}

.fontArya {
  font-family: "Arya", sans-serif;
}

.fontRighteous {
  font-family: "Righteous", sans-serif;
}

.fontJosefin {
  font-family: "Josefin Sans", sans-serif;
}

.fontMaamli {
  font-family: "Ga Maamli", sans-serif;
}

.fontAnek {
  font-family: "Anek Devanagari", sans-serif;
}


body {
    font-family: 'Noto Serif Devanagari', sans-serif;
    background: rgba(0, 0, 0, 0.651);
}


p {
    font-size: medium;
    font-family: 'Noto Serif Devanagari', sans-serif;
    text-align: justify;
    padding: 0px 16px;
}

@media (min-width: 700px) {

    p {
        font-size: 1.3rem;
    }
}

.order-now-animation {
    animation: 0.5s sfr alternate infinite;
  }
  
  @keyframes sfr {
    0% {
      scale: 110%;
    }
  
    100% {
      scale: 100%;
    }
  }



  .card_bg {
    background: #F1C500;
background: linear-gradient(180deg,rgba(241, 197, 0, 1) 47%, rgba(254, 242, 6, 1) 82%);
  }