@import url("https://fonts.googleapis.com/css2?family=Kalnia&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Devanagari:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arya:wght@400;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ga+Maamli&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@100..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.fontPoppins {
  font-family: "Poppins", sans-serif;
}

.fontBebas {
  font-family: "Bebas Neue", sans-serif;
}

.fontNoto {
  font-family: "Noto Serif Devanagari", sans-serif;
}

.fontKalnia {
  font-family: "Kalnia", serif;
}

.fontArya {
  font-family: "Arya", sans-serif;
}

.fontRighteous {
  font-family: "Righteous", sans-serif;
}

.fontJosefin {
  font-family: "Josefin Sans", sans-serif;
}

.fontMaamli {
  font-family: "Ga Maamli", sans-serif;
}

.fontAnek {
  font-family: "Anek Devanagari", sans-serif;
}

p {
  font-size: 17px;
  font-family: "Anek Devanagari", sans-serif;
  /* color: black; */
  text-align: justify;
  padding: 6px 15px 6px 15px;
}

@media (min-width: 568px) {
  p {
    font-size: 0.8rem;
    padding: 8px 20px 8px 20px;
  }
}

@media (min-width: 768px) {
  p {
    font-size: 1.1rem;
    padding: 8px 20px 8px 20px;
  }

  .bg_herb {
    background-image: url("https://imagedelivery.net/aacnHGAqlUDhaplA3bnkbA/a18af2bc-d410-4acd-e3a1-a1aa9d1e7400/public");
    background-size: contain;
  }
}

@media (max-width: 767px) {
  .bg_herb {
    background-image: url("https://imagedelivery.net/aacnHGAqlUDhaplA3bnkbA/9a54b842-4b6f-4241-df39-9808349bdd00/public");
    background-size: cover;
  }
}

body {
  font-family: "Anek Devanagari", sans-serif;
}

.form_warning_bg {
  background-image: linear-gradient(to right,
      #7e7e7e,
      #656565,
      #4e4e4e,
      #373737,
      #222222,
      #222222,
      #222222,
      #222222,
      #373737,
      #4e4e4e,
      #656565,
      #7e7e7e);
}

.form_shaddow {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px,
    rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

.bg_ing {
  -webkit-box-shadow: 1.5px -2px 11.5px -2px #4a4343;
  -moz-box-shadow: 1.5px -2px 11.5px -2px #4a4343;
  box-shadow: 2px 1px 11.5px 1px #4a4343;
}

.bg_doc_ai {
  background-image: url("https://imagedelivery.net/aacnHGAqlUDhaplA3bnkbA/06f93b18-10a2-40cc-44f6-01c74e9d0b00/public");
  background-size: cover;
}

.performance_bg {
  background-image: url("https://imagedelivery.net/aacnHGAqlUDhaplA3bnkbA/b17ae32d-ea87-4e4f-4b15-79ff91966500/public");
  background-size: cover;
  background-repeat: no-repeat;
}

.bg_rwc {
  background-image: url("https://imagedelivery.net/aacnHGAqlUDhaplA3bnkbA/392217f1-9794-4887-067a-eb96d2ded100/public");
  background-size: cover;
}

.bg_form {
  background-image: url("https://imagedelivery.net/aacnHGAqlUDhaplA3bnkbA/189f2553-31dd-4b76-b202-f97719afed00/public");
  background-size: cover;
}


.vvs {
  color: red;
  animation: 1s srbob infinite;
}

@keyframes srbob {
  0% {
    transform: scale(110%);
  }

  50% {
    transform: scale(100%);
  }
}