@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Devanagari:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sumana:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800;900;1000&display=swap');

.foo {
    animation: foo 0.9s cubic-bezier(0.9, 0.7, 0.5, 0.9) infinite;
}

@keyframes foo {
    0% {
        color: #000;
    }

    50% {
        transform: scale(1.2);
    }
}

.pop_imagehfv {
    animation: zoom-in-zoom-out 1.2s cubic-bezier(0.9, 0.7, 0.5, 0.9) infinite;
}

@keyframes zoom-in-zoom-out {
    0% {
        transform: scale(0.8, 0.8);
        opacity: 1;
    }

    50% {
        transform: scale(1, 1);
        opacity: 0.5;
    }

    100% {
        transform: scale(0.8, 0.8);
        opacity: 1;
    }
}


.fontYoung {
    font-family: 'Young Serif', serif;
}

.fontPoppins {
    font-family: 'Poppins', sans-serif;
}

.fontOswald {
    font-family: 'Oswald', sans-serif;
}

.fontNoto {
    font-family: 'Noto Serif Devanagari', sans-serif;
}

.font-sumana {
    font-family: 'Sumana', serif;
}

.font-nunito {
    font-family: 'Nunito', sans-serif;
}

.fontShadow {
    text-shadow: 3px 3px 0px #21cdc1;
}

.manageLineheight {
    line-height: 3.5rem !important;
}

.section6 {
    background-image: url('/main/hfv_images/section6.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

@media (max-width: 768px) {

    .fontShadow {
        text-shadow: 1px 1px 2px #21cdc1;
    }

    .manageLineheight {
        line-height: 2rem !important;

    }

}